<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cj.studio.netos.framework">

    <application>
        <service android:name=".service.NetosReaderService" />
        <service android:name=".service.NetosWriterService" />
    </application>

</manifest>